﻿@model List<PersonDTO>

<h1>Lista:</h1>

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Wiek</th>
        <th>Opcje</th>
    </tr>

    @foreach (var person in Model)
    {
        <tr>
            <td>@person.Id</td>
            <td>@person.Name</td>
            <td>@person.Surname</td>
            <td>@person.Age</td>
            <td>
            @Html.ActionLink("Edytuj", "EditPerson", "People", new { id = person.Id }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Usuń", "DeletePerson", "People", new { id = person.Id }, new { @class = "btn btn-danger btn-sm"})
            </td>
        </tr>
    }
</table>

<a asp-controller="People" asp-action="CreatePerson" class="btn btn-primary">Dodaj osobę</a>

