﻿@model PersonDTO


<h1>
    Informacje o <span class="text-primary">@Model.Name @Model.Surname</span>
</h1>
<p>Wiek: @Html.DisplayNameFor(x=>x.Age) : @Html.DisplayFor(x=>x.Age) </p>

@Html.ActionLink("Edytuj", "EditPerson", "People")